section{
    background-color: gray;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel{
    width: 1000px;
    height: 500px;
    background-color: black;
    -webkit-box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.89); 
    box-shadow: 0px 0px 14px 5px rgba(0,0,0,0.89);
    border-radius: 10px;
    position: relative;
}

.carousel .images{
    width: 100%;
    height: 100%;
}

.carousel .images .slider{
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
}

.carousel .images .slider .description{
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.carousel .images .slider.visible{
    display: block;
}

.carousel .images .slider img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.options button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    font-weight: bold;
    line-height: 30px;
    background-color: white;
    text-align: center;
    color: black;
}

.options .prev-button{
    left: 10px;
}

.options .next-button{
    right: 10px;
}